/* Mobile */

@media (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }

    .main-content {
        padding: 40px 0;
        row-gap: 40px;
    }

    .container {
        width: 320px;
    }

    .container.container-small {
        width: 290px;
    }

    .nav-list {
        display: none;
    }

    .btn-mobile-nav {
        display: block;
    }

    .promo {
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-left: 0;
        text-align: center;
    }

    .promo-title {
        font-size: 34px;
    }

    .promo-subtitle {
        font-size: 14px;
    }

    .content-row {
        flex-direction: column;
        row-gap: 20px;
    }

    .content-img {
        flex-basis: 120px;
    }

    .title-1 {
        font-size: 28px;
    }

    .content-row-reverse {
        flex-direction: column !important;
    }

    /* Inner page */

    .inner-page {
        padding: 40px 0;
    }

    /* Tours page */

    .cards-wrapper {
        row-gap: 20px;
    }

    .card {
        width: 290px;
    }

    .card-description p {
        font-size: 14px;
    }

    /* About page */

    .container.container-small {
        width: 290px;
    }

    .article-img {
        margin: 20px 0;
    }

    .article-content p {
        font-size: 14px;
    }

    .article-content p + p {
        margin-top: 14px;
    }

    /* Contacts */

    .address-wrapper {
        row-gap: 20px;
        font-size: 14px;
    }

    .form-wrapper {
        padding: 20px 15px;
        font-size: 14px;
    }

    .inputs-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .title-2 {
        font-size: 22px;
    }

    .title-3 {
        font-size: 18px;
    }
}
